.button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1rem;
  outline: none;
  padding: 0.9rem 2rem 0.8rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 7rem;
}

.button:hover,
.button:focus {
  opacity: .75;
}