.show_posts {
   width: 100%;
   padding-top: 1rem;
}

.show_posts__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show_posts__title {
    width: 50%;
}

.show_posts__container {
    width: 100%;
    display: flex;
    justify-content: center;
}