.app {
  min-height: 150vh;
}

.app__title {
  margin-left: 2rem;
  text-align: center;
}

.app__header_container {
  display: flex;
  justify-content: center;
}

.app__header {
  display: flex;
  justify-content: space-between;
  width: 85%;
}