/* TODO */
/* Switch to styled components */
.post {
    width: 80%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.post__image {
    width: 100%;
    border-radius: 8px;
}

.post__button_container, .post__data   {
    display: flex;
    justify-content: space-between;
}

.post__data_text {
    font-size: 1rem;
}